html, body {
  margin: 0;
   padding: 0; 
  /* padding: 0 1rem; */
  overflow-x: hidden;
  /* background: #e1e; */
background: #eec4c815;   
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: wave 1.5s infinite linear;
}



















