html, body {
  margin: 0;
   padding: 0; 
  /* padding: 0 1rem; */
  overflow-x: hidden;
  /* background: #e1e; */
/* background: #eec4c815;    */
background: #eae9fd; 
/* background: #d9d9d9;  */
/* background: #d3e6ff;  */
/* background: #ffefd8;  */
/* background: #f8edc1;  */
/* background: #f4eded;  */

/* background: #f4eded; */
/* background: #ffefd8; */
/* background: #e5fbff; */





}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: wave 1.5s infinite linear;
}



















